In [3]:
l = []
n = int(input("Enter n="))
for i in range(n):
    name = input("Enter name =")
    age = int(input("Enter age ="))
    add =input("Enter address =")
    l.append([name,age,add])
    
print(l)

Enter n=2
Enter name =Sandip
Enter age =18
Enter address =Kathmandu
Enter name =Sandesh
Enter age =12
Enter address =Kathmandu
[['Sandip', 18, 'Kathmandu'], ['Sandesh', 12, 'Kathmandu']]

In [6]:
print(l[1])
print(l[1][2])

['Sandesh', 12, 'Kathmandu']
Kathmandu

In [10]:
l.append(['Surya',40,'Kathmahdu'])
print(l)

[['Sandip', 18, 'Kathmandu'], ['Sandesh', 12, 'Kathmandu'], ['Surya', 40, 'Kathmahdu']]

In [13]:
#search
a = [['Sandip', 18, 'Kathmandu'], 
     ['Sandesh', 12, 'Kathmandu'],
     ['Surya', 40, 'Kathmahdu']]
name = input("Enter name = ")
for i in a:
    if name.lower() in i[0].lower():
        print(i)

Enter name = surya
['Surya', 40, 'Kathmahdu']

In [12]:
a = [['Sandip', 18, 'Kathmandu'], 
     ['Sandesh', 12, 'Kathmandu'],
     ['Surya', 40, 'Kathmahdu']]
a[0][2] = "Tampa"
a

[['Sandip', 18, 'Tampa'],
 ['Sandesh', 12, 'Kathmandu'],
 ['Surya', 40, 'Kathmahdu']]