In [1]:
# tupple
# -Indexing
# -ordered
# -Multiple and duplicate
# -Immutable

In [2]:
# a = tupple() {tupple is immutable and should be used with small brackets}

In [3]:
a = (1,2,3,4,5)
b = ("Apple","Ball","Cat","Apple")
print(a)
print(b)
print(type(a))
print(type(b))

(1, 2, 3, 4, 5)
('Apple', 'Ball', 'Cat', 'Apple')
<class 'tuple'>
<class 'tuple'>

In [4]:
# We cannot use 
# -append()
# -extend()
# -insert()
# -Update()
# -sort()
# {it is used to store static data}

In [7]:
a = ("Apple",)
b = (1,2,3)
d = (4,5,6)
c = a+b+d

print(c)

('Apple', 1, 2, 3, 4, 5, 6)

In [9]:
# We can create tupple by 
# - Concatination

In [10]:
a = ()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x ="))
    a = a +(x,)
    
print(a)

Enter n = 4
Enter x =1
Enter x =2
Enter x =3
Enter x =4
(1, 2, 3, 4)

In [11]:
# We can use functions like min() max() sum() index()
a = (1, 2, 3, 4, 5, 6)
print(min(a))
print(max(a))
print(sum(a))

1
6
21

In [12]:
a = (1, 2, 3, 4, 5, 6)
b = list(a)
del b[0]
print(b)

[2, 3, 4, 5, 6]

tupple inside list

In [13]:
a = [(1,2),(2,3),(4,5),(5,6)]
print(a)

[(1, 2), (2, 3), (4, 5), (5, 6)]

list inside tupple

In [14]:
b = ([1,2],[3,4],[5,6])
print(b)

([1, 2], [3, 4], [5, 6])

tupple inside tupple

In [15]:
c = ((1,2),(3,4),(4,5))
print(c)

((1, 2), (3, 4), (4, 5))

In [1]:
n = int(input("Enter n = "))
people = ()
for i in range(n):
    x = input("Enter Name = ")
    y = input("Enter Address = ")
    z = int(input("Enter age = "))
    person_info = (x,y,z)
    people += (person_info,)

Enter n = 2
Enter Name = Sandip
Enter Address = Kathmandu
Enter age = 18
Enter Name = Sandesh
Enter Address = Kadaghari
Enter age = 12

In [2]:
print(people)

(('Sandip', 'Kathmandu', 18), ('Sandesh', 'Kadaghari', 12))