In [1]:
# #dictonary
# -index
# -multiple and duplicate value
# -ordered
# -mutable

In [8]:
# a = dict()
a = {'a':'Apple','b':'Ball','c':'Cat','d':'Apple'}
print(type(a))

<class 'dict'>

In [9]:
len(a)

4

In [11]:
print(a['d'])

Apple

In [12]:
print(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Apple'}

In [13]:
z = {}
z['a'] = 'Apple'
z['b'] = 'Ball'
z['c'] = 'Cat'
print(z)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [15]:
info = {}
n = int(input("Enter n ="))
for i in range(n):
    name = input('Enter name = ')
    phone = int(input("Enter phone = "))
    info[name] = phone
    
print(info)

Enter n =2
Enter name = Surya
Enter phone = 9862966751
Enter name = Sandip
Enter phone = 9765567051
{'Surya': 9862966751, 'Sandip': 9765567051}

In [16]:
for i in info:
    print(i)

Surya
Sandip

In [17]:
for i in info.values():
    print(i)

9862966751
9765567051

In [18]:
for i in info.items():
    print(i)

('Surya', 9862966751)
('Sandip', 9765567051)

In [22]:
d = (('Surya', 9862966751),('Sandip', 9765567051))
d = dict(d)
print(d)

{'Surya': 9862966751, 'Sandip': 9765567051}

In [28]:
info = {'Surya': 9862966751, 'Sandip': 9765567051}
info['Sandip'] = 9867808597
info

{'Surya': 9862966751, 'Sandip': 9867808597}

In [37]:
inform = info.pop('Sandip')
print(inform)

KeyError: 'Sandip'

In [36]:
del info['Sandip']
info

KeyError: 'Sandip'

In [30]:
infor = {'Sandip': 9765567051}

In [31]:
#We cannot concatinate two dictionaries

# list inside dictionary

In [39]:
info = {'Name':['Ram','Shyam','Hari'],
       'Age':[34,35,36],
       'Address':['Kathmandu','Bhaktapur','Lalitpur']}
print(info)

{'Name': ['Ram', 'Shyam', 'Hari'], 'Age': [34, 35, 36], 'Address': ['Kathmandu', 'Bhaktapur', 'Lalitpur']}

# Dictionary inside List

In [43]:
info = [{'name':'Ram', 'age': 45, 'Address':'kathmandu'},{'name':'Shyam', 'age': 46, 'Address':'Bhaktapur'},{'name':'Hari', 'age': 47, 'Address':'Bhaktapur'}]
print(info)

[{'name': 'Ram', 'age': 45, 'Address': 'kathmandu'}, {'name': 'Shyam', 'age': 46, 'Address': 'Bhaktapur'}, {'name': 'Hari', 'age': 47, 'Address': 'Bhaktapur'}]

In [1]:

b = {'Name':[], 'age':[], 'address':[]}
n = int(input("Enter n = "))

for i in range(n):
   name = input('Enter name =')
   age = int(input('Enter age ='))
   address = input('Enter address =')
   b['Name'].append(name)
   b['age'].append(age)
   b['address'].append(address)
    
print(b)

Enter n = 3
Enter name =Sandip
Enter age =18
Enter address =kathmandu
Enter name =Sandesh
Enter age =12
Enter address =Kadaghari
Enter name =Surya
Enter age =45
Enter address =Gothatar
{'Name': ['Sandip', 'Sandesh', 'Surya'], 'age': [18, 12, 45], 'address': ['kathmandu', 'Kadaghari', 'Gothatar']}

In [3]:
b = []
a = {}
n = int(input("Enter n = "))

for i in range(n):
   a['name'] = input('Enter name =')
   a['age'] = int(input('Enter age ='))
   a['address'] = input('Enter address =')
   d = {'name':name, 'age':age, 'address':address}
   b.append(d)
    
print(b)

Enter n = 2
Enter name =Sandesh
Enter age =12
Enter address =Kadaghari
Enter name =Surya
Enter age =35
Enter address =Kathmandu
[{'name': 'Surya', 'age': 45, 'address': 'Gothatar'}, {'name': 'Surya', 'age': 45, 'address': 'Gothatar'}]

In [5]:
print(b[0])

{'name': 'Surya', 'age': 45, 'address': 'Gothatar'}