In [4]:
def cal(l,b,h):
    a = l*b
    v = a*h
    return a,v
area,volume = cal(10,5,2)
print("The area is = ",area)
print("The volume = ",volume)

The area is =  50
The volume =  100

In [ ]:
a = int(input("Enter a ="))
b = int(input("Enter b ="))
o = (input("Enter a operater(+,-,/,*):"))

def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
def div(a,b):
    return a/b

if(o=="+"):
    print(add(a,b))
elif(o=="-"):
    print(sub(a,b))
elif(o=="/"):
    print(div(a,b))
elif(o=="*"):
    print(mul(a,b))
else:
    print('Enter a valid operator')
          
a = int(input("Enter a ="))
b = int(input("Enter b ="))
o = (input("Enter a operater(+,-,/,*):"))

Enter a =10
Enter b =5
Enter a operater(+,-,/,*):/
2.0

# lambda function

In [ ]:
# x = lambda <arguments>:<operations>

In [1]:
x = lambda a:a**2
print(x(5))

25

In [2]:
x = lambda l,b:l*b
print(x(5,5))

25

# map()

In [ ]:
map()
list(map(lambda <argument>:<operation>,list))

In [4]:
a = [1000,2000,4000,50000,60000]
list(map(lambda x:x*0.95, a))

[950.0, 1900.0, 3800.0, 47500.0, 57000.0]

In [5]:
a = ["Apple","Ball","Cat"]
list(map(lambda x:x.lower(),a))

['apple', 'ball', 'cat']

# filter()

In [7]:
#list(filter(lambda <argument>:<condition>,list))

In [8]:
a = [1000,2000,4000,50000,60000]
list(filter(lambda x:x>5000, a))

[50000, 60000]


# comprehension list

In [10]:
a = [i for i in range(1,21)]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [11]:
a = [i**2 for i in range(1,21)]
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [12]:
a = [int(input("Enter value")) for i in range(5)]
a

Enter value10
Enter value40
Enter value70
Enter value80
Enter value90

[10, 40, 70, 80, 90]

In [13]:
a = {input("Enter name = "):input("Enter phone no") for i in range(2)}

Enter name = Sandip
Enter phone no9765567051
Enter name = Surya
Enter phone no9862966751

In [14]:
print(a)

{'Sandip': '9765567051', 'Surya': '9862966751'}

# Recursive function

In [1]:
def hello():
    print("Hello world")
    x = input("Enter y for more print")
    if x == "y":
        hello()
hello()

Hello world
Enter y for more printy
Hello world
Enter y for more printy
Hello world
Enter y for more printy
Hello world
Enter y for more printy
Hello world
Enter y for more print

# Math function

In [2]:
import math as m
r = float(input('Enter radius = '))
a = m.pi*m.pow(r,2)
print(a)

Enter radius = 7
153.93804002589985

In [1]:
import math as m
a = m.sin(m.pi/2)

NameError: name 'm' is not defined