In [1]:
!pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 368.1 kB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp311-cp311-macosx_11_0_arm64.whl size=247957 sha256=4e0c0ad6b6e1049afe782cc7dafccad73bf2dd29ca2e37a2f1abd642a69d67c5
  Stored in directory: /Users/sandipnepal/Library/Caches/pip/wheels/17/cd/ed/2d49e9bac69cf09382e4c7cc20a2511202b48324b87db26019
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [6]:
import mysql.connector
#importing database
database = mysql.connector.connect(
host="localhost",
user= 'root',
password='',
database = 'pyhon4pm'
)
db = database.cursor()

In [8]:
#read data frim database
sql ='select * from student'
db.execute(sql)
result= db.fetchall()
print(result)

[(1, 'Sandip Nepal', 100, 100, 100, 100, 100, 100, 100, 100.0, 'A+'), (2, 'Sandesh Nepal', 100, 100, 100, 100, 100, 100, 100, 100.0, 'A+'), (3, 'Surya Nepal', 100, 100, 100, 100, 100, 100, 100, 100.0, 'A+'), (4, 'Gyanu Maya Nepal(Lamsal)', 100, 100, 100, 100, 100, 100, 100, 100.0, 'A+'), (5, 'Nischal Adhikari', 100, 100, 100, 100, 100, 100, 100, 100.0, 'A+'), (6, 'Kushal Adhikari', 100, 100, 100, 100, 100, 100, 100, 100.0, 'A+'), (7, 'Simon Adhikari', 100, 100, 100, 100, 100, 100, 100, 100.0, 'A+'), (8, 'Aayush Nepal', 100, 100, 100, 100, 100, 100, 100, 100.0, 'A+'), (9, 'Aayushma Nepal', 100, 100, 100, 100, 100, 100, 100, 100.0, 'A+'), (10, 'Yunisha Adhikari', 100, 100, 100, 100, 100, 100, 100, 100.0, 'A+')]

In [9]:
sql ='select SN,Name,Grade from student'
db.execute(sql)
result= db.fetchall()
print(result)

[(1, 'Sandip Nepal', 'A+'), (2, 'Sandesh Nepal', 'A+'), (3, 'Surya Nepal', 'A+'), (4, 'Gyanu Maya Nepal(Lamsal)', 'A+'), (5, 'Nischal Adhikari', 'A+'), (6, 'Kushal Adhikari', 'A+'), (7, 'Simon Adhikari', 'A+'), (8, 'Aayush Nepal', 'A+'), (9, 'Aayushma Nepal', 'A+'), (10, 'Yunisha Adhikari', 'A+')]

In [11]:
sql ='select * from student where grade = "A+" '
db.execute(sql)
result= db.fetchall()
print(result)

[(1, 'Sandip Nepal', 100, 100, 100, 100, 100, 100, 100, 100.0, 'A+'), (2, 'Sandesh Nepal', 100, 100, 100, 100, 100, 100, 100, 100.0, 'A+'), (3, 'Surya Nepal', 100, 100, 100, 100, 100, 100, 100, 100.0, 'A+'), (4, 'Gyanu Maya Nepal(Lamsal)', 100, 100, 100, 100, 100, 100, 100, 100.0, 'A+'), (5, 'Nischal Adhikari', 100, 100, 100, 100, 100, 100, 100, 100.0, 'A+'), (6, 'Kushal Adhikari', 100, 100, 100, 100, 100, 100, 100, 100.0, 'A+'), (7, 'Simon Adhikari', 100, 100, 100, 100, 100, 100, 100, 100.0, 'A+'), (8, 'Aayush Nepal', 100, 100, 100, 100, 100, 100, 100, 100.0, 'A+'), (9, 'Aayushma Nepal', 100, 100, 100, 100, 100, 100, 100, 100.0, 'A+'), (10, 'Yunisha Adhikari', 100, 100, 100, 100, 100, 100, 100, 100.0, 'A+')]

In [12]:
# insert in database
sql = ''' INSERT INTO `student` (`Name`, `Physics`, `Chemistry`, `Mathematics`, `Computer Science`, `English`, `Nepali`, `Total`, `Percentege`, `Grade`) VALUES ('Sushant Nepal', '100', '100', '100', '100', '100', '100', '100', '100', 'A+');'''
db.execute(sql)
database.commit()

# HW// Write a program to take input from user and insert it into database

In [3]:
import mysql.connector
#importing database
database = mysql.connector.connect(
host="localhost",
user= 'root',
password='',
database = 'pyhon4pm'
)
db = database.cursor()
j=0
while j < 1:
    n = input("Enter the product Name = ")
    p = int(input("Enter the price = "))
    q = int(input("Enter the quantity = "))
    t = p * q
    db.execute('''
    INSERT INTO Sales (item_name, rate, quantity, total)
    VALUES (%s, %s, %s, %s)
''', (n, p, q, t))  # Store the data for each item
    database.commit()
    i = input("Do You have more Goods (y/n): ")
    if i.lower() == "y":
        j = 0
    else:
        j += 1
        
print('data entry sucessfull!!')

Enter the product Name = Barfi
Enter the price = 50
Enter the quantity = 5
Do You have more Goods (y/n): n
data entry sucessfull!!

In [2]:
import mysql.connector

# Importing database
database = mysql.connector.connect(
    host="localhost",
    user='root',
    password='',
    database='pyhon4pm'
)

db = database.cursor()

j = 0

while j < 1:
    n = input("Enter the Name = ")
    p = int(input("Enter the marks in physics = "))
    c = int(input("Enter the marks in chemistry = "))
    m = int(input("Enter the marks in math = "))
    cs = int(input("Enter the marks in computer = "))
    e = int(input("Enter the marks in english = "))
    nep = int(input("Enter the marks in nepali = "))
    t = p + c + m + cs + e + nep
    per = t / 6
    if per >= 80:
        g = "A"
    elif p >= 60:
        g = "B"
    elif p >= 40:
        g = "C"
    else:
        g = "D"
    db.execute('''
    INSERT INTO student (Name, Physics, Chemistry, Mathematics, Computer_Science, English, Nepali, Total, Percentege, Grade)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
''', (n, p, c, m, cs, e, nep, t, per, g))  # Store the data for each item
    database.commit()
    i = input("Do you have more data to enter? (y/n): ")
    if i.lower() == "y":
        j = 0
    else:
        j += 1

print('Data entry successful!!')

Enter the Name = Hari
Enter the marks in physics = 89
Enter the marks in chemistry = 78
Enter the marks in math = 78
Enter the marks in computer = 57
Enter the marks in english = 78
Enter the marks in nepali = 768
Do you have more data to enter? (y/n): n
Data entry successful!!