In [1]:
# file = open(<file_name>,<mode>)
# file.close()

# with open(<file_name>,<mode>):
#     <operations>

# mode
# read -> r
# create -> x
# write -> w
# append -> a

In [4]:
try:
    file = open('data.txt','x')
    file.close()
except:
    print("The file is already there")

The file is already there

In [3]:
file = open("data.txt","r")
data = file.read()
print(data)
file.close()

Hello I am sandip Nepal.
I am 18 years old.
I live in Kathmandu.
My brothers name is Sandesh Nepal.
My father name is Surya Nepal.
My Mother name is Gyanu Maya Nepal.

In [5]:
with open('data.txt',"r") as f:
    print(f.read())

Hello I am sandip Nepal.
I am 18 years old.
I live in Kathmandu.
My brothers name is Sandesh Nepal.
My father name is Surya Nepal.
My Mother name is Gyanu Maya Nepal.

In [7]:
try:
    fi = open('data1.txt','x')
    fi.close()
except:
    print("It already exists")

It already exists

In [10]:
fi= open("data1.txt","r")
data = fi.read()
print(data)
fi.close()

Sn,name,age,add,phone
1,Sandip,18,Kadaghari,9765567051
2,Surya,40,Gothatar,9862966751
3,Sandesh,12,Kathmandu,98000000
4,Gyanu,40,Kadaghari,98676808597

In [12]:
data.split('\n')

['Sn,name,age,add,phone',
 '1,Sandip,18,Kadaghari,9765567051',
 '2,Surya,40,Gothatar,9862966751',
 '3,Sandesh,12,Kathmandu,98000000',
 '4,Gyanu,40,Kadaghari,98676808597']

In [13]:
all_data = []
x = data.split('\n')
for i in x:
    all_data.append(i.split(','))
print(all_data)

[['Sn', 'name', 'age', 'add', 'phone'], ['1', 'Sandip', '18', 'Kadaghari', '9765567051'], ['2', 'Surya', '40', 'Gothatar', '9862966751'], ['3', 'Sandesh', '12', 'Kathmandu', '98000000'], ['4', 'Gyanu', '40', 'Kadaghari', '98676808597']]

In [16]:
file = open("data2.txt",'w')
file.write('Hello There!!')
file.close()

In [17]:
file = open("data2.txt",'r')
data = file.read()
print(data)

Hello There!!

In [18]:
j = 0
total_items = []

while j < 1:
    n = input("Enter the product Name = ")
    p = int(input("Enter the price = "))
    q = int(input("Enter the quantity = "))
    t = p * q
    total_items.append((n, p, q, t))  # Store the data for each item
    i = input("Do You have more Goods (y/n): ")
    if i.lower() == "y":
        j = 0
    else:
        j += 1

# Print the summary after the loop
print("Name\t Price\t Qty\t Total\t")
for item in total_items:
    print(f"{item[0]}\t {item[1]}\t {item[2]}\t {item[3]}")
grand_total = sum(item[3] for item in total_items)
print(f"Grand Total: {grand_total}")

file = open('bill.txt','w')
file.write(total_items)
file.close()

Enter the product Name = Chiya
Enter the price = 30
Enter the quantity = 4
Do You have more Goods (y/n): y
Enter the product Name = Samosa
Enter the price = 25
Enter the quantity = 10
Do You have more Goods (y/n): y
Enter the product Name = Pakoda
Enter the price = 5
Enter the quantity = 20
Do You have more Goods (y/n): y
Enter the product Name = Barfi
Enter the price = 50
Enter the quantity = 4
Do You have more Goods (y/n): y
Enter the product Name = Jeri
Enter the price = 10
Enter the quantity = 16
Do You have more Goods (y/n): n
Name	 Price	 Qty	 Total
Chiya	 30	 4	 120
Samosa	 25	 10	 250
Pakoda	 5	 20	 100
Barfi	 50	 4	 200
Jeri	 10	 16	 160
Grand Total: 830

TypeError: write() argument must be str, not list

In [21]:
info = ''
n = int(input('Enter n = '))
for i in range(n):
    name = input("Enter the product Name = ")
    price = int(input("Enter the price = "))
    quantity = int(input("Enter the quantity = "))
    total = price * quantity
    info = info + f"{name},{price},{quantity},{total}\n"

file = open('bill.csv', 'a')
file.write(info)
file.close()

Enter n = 2
Enter the product Name = Pakoda
Enter the price = 5
Enter the quantity = 20
Enter the product Name = Barfi
Enter the price = 50
Enter the quantity = 2

In [1]:
pwd

'/Users/sandipnepal/Class4pm_python'